# Tronn API Environment Configuration

# API Key used in request header: `token: <API_KEY>`
API_KEY=tronn_sec_token_889900

# Application Details
APP_NAME=Tronn Data Sync API
APP_VERSION=1.0.0
DEVELOPER=Tronn
ENVIRONMENT=development

# Database Storage File
DB_PATH=data/db.json

